<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-5">
            <div class="card shadow">
                <div class="card-body" class="text-center">
                    <div class="mb-3  margin-top">
                        <h4 class="text-dark text-muted text-center">Forgot password</h4>
                    </div>

                    <form [formGroup]="forgotPasswordForm">
                        <mat-form-field>
                            <mat-label class="text-center">Email</mat-label>
                            <input matInput placeHolder="Email address" class="" formControlName="email" type="text">
                            <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
                        </mat-form-field>
                    </form>
                    <div class="between"></div>
                    <button mat-stroked-button color="primary" class="center" class="margin-top" (click)="forgotPassword()">Send Link</button>
                    <br><br><br>
                    <button mat-raised-button color="primary" class="toLoginButton" routerLink="/login">Go back to Login</button>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>