<mat-nav-list class="form">
    <div class="logo">
        <img src="../assets/img/QuizLogo.png" alt="Quiz App Logo">
    </div>
    <mat-divider></mat-divider>


    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon class="form-icon form">home</mat-icon>Home</a>

    <a mat-list-item routerLink="/createQuiz" routerLinkActive="list-item-active">
        <mat-icon class="form-icon form">build icon</mat-icon>Create Quiz</a>

    <a mat-list-item routerLink="/info" routerLinkActive="list-item-active">
        <mat-icon class="form-icon form">info</mat-icon>About</a>

    <mat-divider></mat-divider>

    <a mat-list-item routerLink="/about" routerLinkActive="list-item-active">
        <mat-icon class="form-icon form">help</mat-icon>Help</a>

</mat-nav-list>