.form {
    color: white;
}

.form-icon {
    margin-right: 8px;
}

.logo {
    text-align: center;
    padding: 2.6rem 1rem;
}

img {
    width: 200px;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

.mat-list-item {
    font-size: 1rem;
    height: 44px !important;
    margin-bottom: 4px;
}

:hover.mat-list-item {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    background: rgb(128, 222, 217) !important;
}

.mat-tree-node {
    padding-left: 0px !important;
    background-color: rgb(17, 157, 164) !important;
    border-color: rgb(17, 157, 164) !important;
    font-size: 1rem;
    height: 44px !important;
}

.mat-tree-node:hover {
    background: rgb(128, 222, 217)!important;
    font-weight: bolder;
    color: rgb(0, 0, 0) !important;
}

.form-icon-links {
    margin: 15px;
}

.list-item-active {
    font-weight: bolder;
    color: rgb(0, 0, 0) !important;
}

.linksDesign {
    width: 20%;
}