<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-danger text-muted">Welcome</h4>
                        </div>
                        <div class="mb-3">
                            <p class="text-muted">Link has sent on your registered email. Click it so you can reset your password.</p>
                        </div>
                        <button mat-raised-button color="primary" routerLink="/login">Back to Login</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>