.content {
    padding: 32px;
}

.title {
    font-weight: bolder;
    color: black;
    text-shadow: 0 0 30px #ffffff;
}

:host {
    background-color: rgb(185, 185, 185);
}

.subTitle {
    font-weight: bolder;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px rgb(252, 247, 247);
}

.buttonDesign {
    background-color: rgb(123, 204, 204);
}

mat-divider {
    border-width: 5px;
    text-shadow: 20px;
    width: 50%;
    background-color: rgb(17, 157, 164);
}

.backGround {
    background-color: rgb(128, 222, 217);
}

.bolder {
    font-weight: bold;
}

.larger {
    font-size: 17px;
}