<div class="backGround">
    <div class="content"></div> <br><br><br>
    <div class="text-center">
        <h1 class="subTitle backGround">Най-често задавани въпроси</h1>
    </div>

    <div class="center">
        <mat-divider></mat-divider>
    </div>

    <div class="spaceBetween"></div>
    <div class="center margin">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="bolder">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="bolder larger">
                            Защо не мога да създам или да реша тест?
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="text-center bolder ">
                    <br> За да може потребител да използва тези функционалности,той трябва да има създаден профил. <br> <br> За тази цел влез в профила си или ако нямаш създай такъв.
                </div>
            </mat-expansion-panel>
            <br><br><br>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="bolder">

                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="bolder larger">
                            Как да създам нов тест?
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="text-center bolder">
                    <br> Отидете на <button mat-raised-button class="buttonDesign" routerLink="/createQuiz">Създай тест</button> за да може да създате ваш личен тест

                    <br> <br> <br>
                    <div style="color:red"> Тестът трябва да съдържа минимум три въпроса, в противен случай той няма да бъде запазен! </div>

                    <br> <br> <br> С бутона <button mat-raised-button color="primary"><mat-icon>add</mat-icon></button> потребител добавя нов въпрос

                    <br> <br> <br> С бутона <button mat-raised-button color="primary"><mat-icon>delete</mat-icon></button> всеки въпрос може да бъде изтрит по всяко време

                    <br> <br> <br> С бутона <button mat-raised-button color="primary"><mat-icon>save</mat-icon></button> теста ви се запазва и можете да го решите в <button mat-raised-button class="buttonDesign" routerLink="/solveQuiz">Реши тест</button>
                </div>


            </mat-expansion-panel>

            <br><br><br>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="bolder">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="bolder larger">
                            Как да решa тест?
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="text-center bolder">
                    <br> Препоръчваме ви първо да се запознаете с това как се решава тест. За тази цел разгледайте правилата, описани най-отгоре в раздела <button mat-raised-button class="buttonDesign" routerLink="/quizes">Реши тест</button>
                    <br> <br> <br> Quizo Bg предоставя разнообразна селекция от различни по вид тестове. Отидете на <button mat-raised-button class="buttonDesign" routerLink="/quizes">Реши тест</button> и изберете един от предоставените тестове в таблицата.
                    <br> <br> <br> Успех!
                </div>

            </mat-expansion-panel>
            <br><br><br>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="bolder">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="bolder larger">
                            Как мога да използвам сайта най-ефективно?
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header><br>
                <div class="text-center bolder">
                    <br> Това е информативен и образователен сайт, зависи единствено от потребителя, как го използва.
                    <br><br> Единственото, което бихме ви препоръчали е след като сте приключили с четенето на даден раздел от сайта ни да откриете подходящ тест по темата. <br> <br> А ако знаете допълнително, можете да обогатите сайта, като създадете
                    нов тест.
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="spaceBetween"></div>
    <div class="spaceBetween"></div>
</div>