<div class="backGround content">

    <div class="text-center content">
        <img src="assets/img/JavaLogo.jpg" class="img">


        <div class="spaceBetween"></div>

        <div class="title spaceBetween">Масиви в Java</div>

        <div class="center">
            <mat-divider></mat-divider>
        </div>
        <div class="spaceBetween"></div>

    </div>

    <div class="list">
        <br><br>
        <div class="center">
            <div class="text-styleTitle borderBox spaceBetween">
                <h1 style="font-weight:bold">Какво е масив?</h1>
            </div>
        </div>
    </div>

</div>