<div class="spaceBetween"></div>

<div class="text-center">
    <img src="assets/img/JavaLogo.jpg" class="img">


    <div class="spaceBetween"></div>

    <div class="title">Java променливи и тип-данни</div>

    <div class="center">
        <mat-divider></mat-divider>
    </div>

    <div class="text-style">
        <h1 style="font-weight:bold">Какво е променлива в Java?</h1>
    </div>

    <div class="spaceBetween"></div>
    <div class="text-style">
        <h2>
            Променливата в Java е контейнер с данни, който съхранява стойностите на данните по време на изпълнение на Java програма. На всяка променлива се присвоява тип данни, който обозначава вида и количеството стойност, която може да съдържа. Променлива е име
            на място в паметта на данните. Променливите на Java имат основно три типа: локални, инстанционни и статични.</h2>

    </div>

</div>

<div class="list">
    <h3 class="paragraph" style="font-weight:bold">Типовете данни се характеризират с: <br>
        <ul>
            <br>
            <li> Име;</li> <br>
            <li> Размер (колко памет заемат);</li> <br>
            <li> Стойност по подразбиране (default value);</li>
        </ul>
    </h3>
</div>
