<div class="footer text-center">

    <div class="text-center centerFooterLinks" #footer>

        <ng-container class="text-center">

            <div class="links-style">
                Контакти
                <br> <br>
                <div class="text-style">
                    @davidbelchev2007@gmail.com
                </div>
            </div>


            <p class="links-style">
                Линкове
            </p>
        </ng-container>

    </div>

    <div class="text-description">
        @2021 Всички права са запазени
    </div>

</div>