mat-toolbar {
    justify-content: end;
    background-color: rgb(111, 202, 195);
}

.content {
    padding: 32px;
}

li {
    list-style: none;
}

.profile-image-toolbar {
    border-radius: 100%;
    margin-right: 8px;
}