mat-toolbar {
    background-color: rgb(245, 245, 245);
    width: 100%;
    position: fixed;
    z-index: 2;
}

#header-account {
    position: fixed;
    right: 0;
}

.content {
    padding: 32px;
}

li {
    list-style: none;
}

.profile-image-toolbar {
    border-radius: 100%;
    margin-right: 8px;
}

.margin {
    margin-left: 400px;
}

.isOpen {
    overflow: hidden;
}


/* .fixedPos {
    position: fixed;
    z-index: 1;
} */
