.content {
    padding: 32px;
}

.backGround {
    background-color: rgb(32, 186, 197);
}

.bolder {
    text-shadow: 1px 1px 1px white;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bolder;
}