<div class="content"></div>
<div class="spaceBetween backgroundScreen"></div>

<div class="beginning-text  backgroundScreen center">
    Създай твой тест тук
</div>
<div class="backgroundScreen">
    <br> <br>
    <div class="center">

        <ng-container class="text-center">
            <div class="button-position center static">
                <button class="button-positionInfo" mat-raised-button color="primary" routerLink="/about">
            <mat-icon>info</mat-icon></button>
                <button mat-raised-button color="primary" (click)="addNewQuestion()"><mat-icon>add</mat-icon></button>
            </div>
        </ng-container>





        <form [formGroup]="quizForm" (ngSubmit)="saveQuiz()">

            <div class="whiteBackground" class="borderBoxQuestionDetails spaceBetweenBoxes">
                <mat-form-field class="form-control">
                    <mat-chip-list #chipList aria-label="Language selection">
                        <mat-chip *ngFor="let language of languages" (removed)="remove(language)">
                            {{language}}
                            <button matChipRemove> <mat-icon>cancel</mat-icon> </button>
                        </mat-chip>
                        <input placeholder="Избери език или въведи твой (задължително):" #languageInput [formControl]="languageCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)"
                            required>
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let language of filteredLanguages | async" [value]="language">
                            {{language}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="form-control">
                    <mat-label>Въведи име на теста (задължително):</mat-label>
                    <input matInput type="text" placeholder="Title of quiz" formControlName="titleOfQuiz">
                    <mat-error *ngIf="titleOfQuiz?.errors?.['required']">Задължително поле!</mat-error>
                </mat-form-field>

                <mat-form-field class="form-control">
                    <mat-label>Въведи описание на теста:</mat-label>
                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" placeholder="Description of quiz" formControlName="description"></textarea>
                    <mat-error *ngIf="description?.errors?.['required']">Задължително поле!</mat-error>
                </mat-form-field>
            </div>

            <div class="spaceBetween"></div>


            <div formArrayName="questions">
                <ng-container *ngFor="let questionsFormGroup of questionControls().controls; let i = index" [formGroupName]="i">

                    <div class="center">
                        <div class="form-questionTitle" class="borderBoxQuestionTitle spaceBetweenBoxes">
                            <mat-form-field class="form-control">
                                <mat-label>Въведи въпрос</mat-label>
                                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" formControlName="title" required></textarea>
                                <!-- <input matInput type="text" formControlName="title" required> -->
                                <mat-error *ngIf="questionsFormGroup.get('title')?.hasError('required')">Задължително поле!</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="spaceBetweenBoxes"></div>


                    <button class="button-positionRemove" mat-raised-button color="primary" (click)="deleteQuestion(i)">
                  <mat-icon>delete</mat-icon></button>

                    <div class="center">
                        <div class="form-questionTitle" class=" borderBox spaceBetweenBoxes">
                            <mat-form-field class="form-control">
                                <mat-label>Въведи опция</mat-label>
                                <input type="radio" formControlName="rightAnswer" value="option1" class="checkboxPosition">
                                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" formControlName="option1" required></textarea>
                                <!-- <input matInput type="text" formControlName="option1" required> -->
                                <mat-error *ngIf="questionsFormGroup.get('option1')?.hasError('required')">Задължително поле!</mat-error>
                            </mat-form-field>

                            <mat-divider></mat-divider>

                            <mat-form-field class="form-control">
                                <mat-label>Въведи опция</mat-label>
                                <input type="radio" formControlName="rightAnswer" value="option2" class="checkboxPosition">
                                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" formControlName="option2" required></textarea>
                                <!-- <input matInput type="text" formControlName="option2" required> -->
                                <mat-error *ngIf="questionsFormGroup.get('option2')?.hasError('required')">Задължително поле!</mat-error>
                            </mat-form-field>
                        </div>



                        <div class="form-questionTitle" class=" borderBox spaceBetweenBoxes">
                            <mat-form-field class="form-control">
                                <mat-label>Въведи опция</mat-label>
                                <input type="radio" formControlName="rightAnswer" value="option3" class="checkboxPosition">
                                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" formControlName="option3" required></textarea>
                                <!-- <input matInput type="text" formControlName="option3" required> -->
                                <mat-error *ngIf="questionsFormGroup.get('option3')?.hasError('required')">Задължително поле!</mat-error>
                            </mat-form-field>

                            <mat-divider></mat-divider>


                            <mat-form-field class="form-control">
                                <mat-label>Въведи опция</mat-label>
                                <input type="radio" formControlName="rightAnswer" value="option4" class="checkboxPosition">
                                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" formControlName="option4" required></textarea>
                                <!-- <input matInput type="text" formControlName="option4" required> -->
                                <mat-error *ngIf="questionsFormGroup.get('option4')?.hasError('required')">Задължително поле!</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="spaceBetween"></div>
                </ng-container>
            </div>
            <div class="center margin">
                <button mat-raised-button color="primary" type="submit"><mat-icon>save</mat-icon></button>
            </div>
        </form>
    </div>
</div>





<!--
<form [formGroup]="quizForm">
    <div formGroupName="questionArray">
        <div class="questions" *ngFor="let question of questions; let index = index">

            <div class="center">
                <div class="form-questionTitle">
                    <mat-form-field class="form-control">
                        <mat-label class="text-center">Въведи въпрос</mat-label>
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [(ngModel)]="question.title" formControlName="titleOfQuestion"></textarea>
                        <mat-error>*ngIf="titleOfQuestion?.errors?.['required']">Задължително поле!</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="center">
                <div class="formContainer">
                    <mat-form-field class="form-control">
                        <mat-label>Въведи опция</mat-label>
                        <mat-checkbox [disabled]="isDisabled" class="checkboxPosition" [(ngModel)]="question.answers[0].rightAnswer"></mat-checkbox>
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [(ngModel)]="question.answers[0].answer" formControlName="optionOne"></textarea>
                        <mat-error>*ngIf="optionOne?.errors?.['required']">Задължително поле!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-control">
                        <mat-label>Въведи опция</mat-label>
                        <mat-checkbox [disabled]="isDisabled" class="checkboxPosition" [(ngModel)]="question.answers[1].rightAnswer"></mat-checkbox>
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [(ngModel)]="question.answers[1].answer" formControlName="optionTwo"></textarea>
                        <mat-error>*ngIf="optionTwo?.errors?.['required']">Задължително поле!</mat-error>
                    </mat-form-field>
                </div>

                <div class="formContainer">
                    <mat-form-field class="form-control">
                        <mat-label>Въведи опция</mat-label>
                        <mat-checkbox class="checkboxPosition" [(ngModel)]="question.answers[2].rightAnswer"></mat-checkbox>
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [(ngModel)]="question.answers[2].answer" formControlName="optionThree"></textarea>
                        <mat-error>*ngIf="optionThree?.errors?.['required']">Задължително поле!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-control">
                        <mat-label>Въведи опция</mat-label>
                        <mat-checkbox [disabled]="isDisabled" class="checkboxPosition" [(ngModel)]="question.answers[3].rightAnswer"></mat-checkbox>
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [(ngModel)]="question.answers[3].answer" formControlName="optionFour"></textarea>
                        <mat-error>*ngIf="optionFour?.errors?.['required']">Задължително поле!</mat-error>
                    </mat-form-field>
                </div>

                <button class="button-positionRemove" mat-raised-button color="primary" (click)="deleteQuestion(index)">
                  <mat-icon>delete</mat-icon></button>
            </div>
        </div>
    </div>


</form> -->