.content {
    padding: 32px;
}

.form-control {
    display: block;
    margin: 10px;
    width: 85%;
}

.beginning-text {
    padding: 40px;
    font-size: 20px;
    font-weight: bold;
}

.options {
    padding: 15px;
    border-radius: 16px;
    display: block;
    width: 37%;
    margin-left: 50px;
}

.center-options {
    justify-content: center;
}

.showInputField {
    width: 20%;
    margin: 15px;
}

.button-positionRemove {
    position: absolute;
    right: 0;
    margin: 20px;
}

.button-positionInfo {
    position: absolute;
    right: 0;
    bottom: 20px;
    margin-bottom: 100px;
}

.button-positionInfo:hover {}

.button-position {
    position: absolute;
    right: 0;
    margin: 20px;
}

.formContainer {
    align-items: center;
    width: 20%;
    margin: 20px;
    display: flex;
    flex-direction: column
}

.form-options {
    display: block;
    min-width: 150px;
    max-width: 500px;
    width: 50%;
    margin: 15px;
}

.form-questionTitle {
    min-width: 150px;
    max-width: 500px;
    width: 70%;
}

.form-Options_Control {
    border-radius: 16px;
    display: block;
    width: 94%;
}

.borderQuestion {
    border-radius: 16px;
}

.static {
    position: fixed;
}

.checkboxPosition {
    left: 100%;
    margin-left: 150px;
    margin-bottom: 10px;
    position: sticky;
}

.mat-checkbox-inner-container-no-side-margin {
    margin-right: 0;
}
