.goodLuck {
    font-family: cursive;
    text-align: center;
    margin: 40px;
}

.listStyle {
    list-style-type: none;
    font-weight: bolder;
    color: rgb(85, 134, 238);
    font-size: 19px;
    text-shadow: 0 0 3px #c7d7e2;
}

.title {
    font-weight: bold;
    font-size: 16px;
}

.subTitle {
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
}

.backGround {
    background-color: rgb(128, 222, 217);
}

.toPosition {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.margin {
    margin-right: 70px;
}

.alignJustifyDescription {
    margin-right: 30px;
    width: 450px;
    text-align: justify;
}

.alignJustifyTitles {
    margin-right: 30px;
    width: 200px;
    text-align: justify;
}