<div class="background center">
    <div class="backgroundImg text-center">
        <ng-container class="text-center">
            <div class="textStyle">
                <h1 class="textStyle">Добре дошли в Quizo BG,</h1>
                <h2 class="subText">Създай. Научи. Сподели</h2>
            </div>
        </ng-container>
    </div>
</div>

<div class="positionLeft">
    <img src="../assets/img/NewKnowledgePhoto.jpg" class="positionImage">
    <div class="containerDescription">
        <h1 class="titleStyle">Тук научаваш по-лесно, по-удобно</h1>
        <h2 class="descriptionStyle">Quizo Bg, ти предоставя достъпни информативни ресурси за програмни езици като Java и JavaScript</h2>
    </div>

    <div class="spaceBetween"></div>
    <div class="spaceBetween"></div>
    <div class="spaceBetween"></div>


    <img src="../assets/img/CreateSomethingImage.jpg" class="positionImage">
    <div class="containerDescription">
        <h1 class="titleStyle">Създавай и решавай тестове</h1>
        <h2 class="descriptionStyle"> С Quizo Bg, можеш не само да се упражняваш в реално време като решаваш тестове, но и да създаваш такива.По този начин затвърждаваш знанията си и ни помагаш да се разрастнем.</h2>
    </div>

    <div class="spaceBetween"></div>
    <div class="spaceBetween"></div>
    <div class="spaceBetween"></div>


    <img src="../assets/img/ShareKnowledgeImage.jpg" class="positionImage">
    <div class="containerDescription">
        <h1 class="titleStyle">Споделянето е важно</h1>
        <h2 class="descriptionStyle"> "Sharing is caring". Quizo Bg събира на едно място програмисти и всички онези,които искат да научат.Един от девизите ни е: "Всеки може да научи по нещо от другия"</h2>
    </div>
    <div class="spaceBetween"></div>

    <div class="center">
        <div class="containerDescription">
            <div class="textGetStarted"> Готов ли си да започваме?

                <div class="spaceBetween"></div>
                <button mat-raised-button color="primary" routerLink="/login">Започни</button>
            </div>

        </div>
    </div>

</div>

<div class="spaceBetween"></div>
<div class="spaceBetween"></div>
<div class="spaceBetween"></div>
<div class="spaceBetween"></div>
<div class="spaceBetween"></div>
<div class="spaceBetween"></div>
<div class="spaceBetween"></div>

<div class="spaceBetween"></div>
<div class="spaceBetween"></div>
<div class="spaceBetween"></div>
<div class="spaceBetween"></div>