:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 330px;
    background: rgb(93, 160, 172);
}

mat-drawer-container {
    height: 100%;
}

.flex {
    display: flex;
}