<div class="content">
    <div class="form-container mat-elevation-z5">

        <div class="card-body" class="text-center">
            <div class="mb-3  margin-top">
                <h4 class="text-dark text-center">RESET PASSWORD</h4>
            </div>
            <form [formGroup]="forgotPasswordForm">
                <mat-form-field>
                    <mat-label class="text-center">New Password</mat-label>
                    <input matInput placeHolder="Email address" formControlName="newPass" type="text">
                    <mat-error *ngIf="newPass?.errors?.['required']">This field is required!</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label class="text-center">Confirm new Password</mat-label>
                    <input matInput placeHolder="New Password" formControlName="confirmNewPass" type="text">
                    <mat-error *ngIf="confirmNewPass?.errors?.['required']">Password is required</mat-error>
                </mat-form-field>
            </form>
            <div class="between"></div>
            <button mat-stroked-button color="primary" class="center" class="margin-top" (click)="resetPassword()">Reset</button>
        </div>
    </div>
</div>